/*
 * Globals
 */



/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-primary {
  color: #fff;
  background-color: rgba(73, 213, 255, 0.2); /* Transparent background color */
  border: 1px solid #737373; /* Light border color */
  border-radius: 12px; /* Rounded edges */
  padding: 5px 10px; /* Vertical and horizontal padding */
  text-decoration: none; /* Remove underline */
  border-radius: 12px; /* Rounded edges */
}

.btn-primary:hover {
  background-color: rgba(73, 213, 255, 0.35); /* Transparent background color */
  border: 1px solid #737373; /* Light border color */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem #212529;
  box-shadow: inset 0 0 5rem #212529;
}

.cover-container {
  max-width: 1080px;
}

.section {
  max-width: 1080px;
  margin: auto;
  margin-top: 100px;
}

.section-main-img {
  margin-left: 0px;
  padding: 0px;
  margin-top: 25px;
  max-width: 1080px;
  background: url(assets/images/image.png);
  background-size: 1080px auto;
  box-shadow: 1px 1px 20px 20px #212529 inset, -1px -1px 10px 1px #212529 inset; 
  width: 1080px;
  height: 100%;
}

.section-small {
  max-width: 720px;
  margin: auto;
  margin-top: 100px;
}



/*
 * Header
 */

 .custom-header {
  border: 1px solid #737373; /* Light border color */
  border-radius: 12px; /* Rounded edges */
  padding: 12px 40px; /* Optional padding */
  width: 720px;
  margin: 0px auto;
}

.nav-link-btn {
  color: #fff;
  background-color: rgba(73, 213, 255, 0.2); /* Transparent background color */
  border: 1px solid #737373; /* Light border color */
  border-radius: 12px; /* Rounded edges */
  padding: 5px 10px; /* Vertical and horizontal padding */
  margin-left: 2rem;
  text-decoration: none; /* Remove underline */
  border-radius: 12px; /* Rounded edges */
}

.nav-link-btn:hover {
  background-color: rgba(73, 213, 255, 0.35); /* Transparent background color */
  border: 1px solid #737373; /* Light border color */
}


.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: 2px solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.highlight {
  color: #FF707A;
  /*color: rgba(73, 213, 255, 0.7);*/
}


/*
 * Footer
 */

.custom-footer {
  width: 720px;
  margin: auto;
  margin-top: 100px;
}